#menu {
  display: none;
  position: absolute;
  width: 100%;
  top: 35%;
}

.menu-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
#menu-bttn {
  width: 12em;
  min-width: fit-content;
  padding: 0.5em;
  font-family: "pain-de-mie", sans-serif;
  font-size: 2.5em;
  letter-spacing: 2pt;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
  border-radius: 100px;
  color: rgb(28, 71, 78);
  background-color: rgb(126, 236, 255);
  border: 6px solid transparent;
  cursor: pointer;
}
#menu-bttn:hover {
  transition: ease-in 0.25s;
  color: rgb(143, 76, 0);
  background-color: rgb(255, 218, 126);
  border: 6px solid transparent;
}

#close-bttn {
  font-family: "pain-de-mie", sans-serif;
  font-size: 25px;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
  color: transparent;
  width: 65px;
  height: 65px;
  border-radius: 100px;
  position: absolute;
  top: 15%;
  left: 5%;
  background-color: aqua;
  border: none;
  cursor: pointer;
  transition: ease-in-out 0.25s;
}
#close-bttn:hover {
  color: rgb(28, 71, 78);
  transform: scale(1.3);
}
